*.rar
admin/*
coffefit-admin/*
css/*
develop/*
font/*
font-awesome/*
fonts/*
images/*
img/*
js/*
login/*
panel-admin/*
sass/*
sign-up/*
views/*
.htacess
banned.php
favicon.ico
index.php
.logo.png
log-out.php
privacy.php
redirect.php