*.rar
admin/*
coffefit-admin/*
css/*
develop/*
font/*
font-awesome/*
fonts/*
images/*
img/*
js/*
login/*
panel-admin/*
sass/*
sign-up/*
views/*
.htacess
*.php
favicon.ico
*.php
.logo.png
*.php
pr*.php
*.php